USE [ABS_DATA]
GO
/****** Object:  Table [dbo].[DIM_AGE]    Script Date: 6/27/2023 1:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_AGE](
	[AGE] [varchar](50) NOT NULL,
	[AGE_TEXT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_AGE] PRIMARY KEY CLUSTERED 
(
	[AGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_REGION]    Script Date: 6/27/2023 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_REGION](
	[REGION] [int] NOT NULL,
	[REGION_TEXT] [varchar](50) NOT NULL,
	[REGION_TYPE] [varchar](50) NOT NULL,
	[REGION_TYPE_CODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_REGION] PRIMARY KEY CLUSTERED 
(
	[REGION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_STATE]    Script Date: 6/27/2023 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_STATE](
	[STATE] [int] NOT NULL,
	[STATE_TEXT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_STATE] PRIMARY KEY CLUSTERED 
(
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_POPULATION]    Script Date: 6/27/2023 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_POPULATION](
	[ID] [int] NOT NULL,
	[SEX] [int] NOT NULL,
	[SEX_TEXT] [varchar](50) NOT NULL,
	[AGE] [varchar](50) NOT NULL,
	[STATE] [int] NOT NULL,
	[REGION] [int] NOT NULL,
	[REGIONTYPE] [varchar](50) NOT NULL,
	[TIME] [varchar](50) NOT NULL,
	[CENSUS_YEAR] [varchar](50) NOT NULL,
	[VALUE_POPULATION] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_FACT_POPULATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_POPULATION]  WITH CHECK ADD  CONSTRAINT [FK_FACT_POPULATION_DIM_AGE] FOREIGN KEY([AGE])
REFERENCES [dbo].[DIM_AGE] ([AGE])
GO
ALTER TABLE [dbo].[FACT_POPULATION] CHECK CONSTRAINT [FK_FACT_POPULATION_DIM_AGE]
GO
ALTER TABLE [dbo].[FACT_POPULATION]  WITH CHECK ADD  CONSTRAINT [FK_FACT_POPULATION_DIM_REGION] FOREIGN KEY([REGION])
REFERENCES [dbo].[DIM_REGION] ([REGION])
GO
ALTER TABLE [dbo].[FACT_POPULATION] CHECK CONSTRAINT [FK_FACT_POPULATION_DIM_REGION]
GO
ALTER TABLE [dbo].[FACT_POPULATION]  WITH CHECK ADD  CONSTRAINT [FK_FACT_POPULATION_DIM_STATE] FOREIGN KEY([STATE])
REFERENCES [dbo].[DIM_STATE] ([STATE])
GO
ALTER TABLE [dbo].[FACT_POPULATION] CHECK CONSTRAINT [FK_FACT_POPULATION_DIM_STATE]
GO
/****** Object:  StoredProcedure [dbo].[uspGetAgeGroups]    Script Date: 6/27/2023 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create (or Re-create) the procedure
CREATE PROCEDURE [dbo].[uspGetAgeGroups]
AS
    DECLARE @Counter INT, @MaxAge INT 
	SELECT @MaxAge = MAX(TRY_CAST(Age AS INT)) from FACT_POPULATION
	PRINT 'Maximum age is = ' +CONVERT(VARCHAR,@MaxAge)
	SET @Counter=0
	WHILE ( @Counter <= @MaxAge)
	BEGIN
		PRINT 'The counter value is = ' + CONVERT(VARCHAR,@Counter)
		Select AGE,SUM(VALUE_POPULATION) 
		from FACT_POPULATION
		where TRY_CAST(Age AS INT) >= @Counter and TRY_CAST(Age AS INT) < @Counter  + 5
		group by Age
    SET @Counter  = @Counter  + 5
END

GO
